<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-add-dependencies" version="0.0.1">
    <name>Add dependencies</name>
    <description>cordova-plugin-add-dependencies</description>
    <license>Apache 2.0</license>
    <keywords>cordova,dependencies,android</keywords>
    <platform name="android">
        <framework src="com.mastercard.gateway:gateway-android:1.1.6" />
        <framework src="androidx.security:security-crypto:1.0.0" />
    </platform>
    <platform name="ios">
        
    </platform>
</plugin>
